@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@font-face {
	font-family: 'Casual';
	src: local('☺'), url('../../fonts/Casual-Regular.eot'), url('../../fonts/Casual-Regular.woff') format('woff'), url('../../fonts/Casual-Regular.ttf') format('truetype'), url('../../fonts/Casual-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}